@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,600,700,700i,800&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.btn_main {
  background-color: #B88B58;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  border-radius: 22px;
  padding: 15px 55px;
  transition: .4s;
  outline: none;
  cursor: pointer;
}

.btn_main:hover {
  background-color: black;
}

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*column width*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

nav {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}

nav .center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

nav .center figure img {
  max-width: 100%;
  height: auto;
}

nav .center .menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

nav .center .menu ul li {
  list-style: none;
}

nav .center .menu ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  display: block;
  position: relative;
}

nav .center .menu ul li ::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #B88B58;
  position: absolute;
  top: 55px;
  left: 0;
  transform: scale(0);
  transition: .4s;
}

nav .center .menu ul li:hover ::after {
  transform: scale(1);
}

header {
  height: 90vh;
  background-image: url("/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .header_content {
  text-align: center;
  text-transform: uppercase;
  margin-top: 28vh;
}

header .header_content :nth-child(1) {
  color: white;
  font-size: 72px;
}

header .header_content :nth-child(2) {
  color: #B88B58;
  font-size: 72px;
  margin-top: -20px;
}

header .header_content :nth-child(3) {
  color: white;
  font-size: 24px;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 40px;
}

header .paginator {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 190px;
}

header .paginator li {
  width: 12px;
  height: 12px;
  border: 1px solid #B88B58;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  transition: .3s;
}

header .paginator li:hover {
  background-color: #B88B58;
}

header .phone_icon {
  background-color: #B88B58;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
  position: absolute;
  bottom: -25px;
  cursor: pointer;
  outline: none;
  right: 8%;
  color: white;
  transition: .3s;
}

header .phone_icon:hover {
  background-color: black;
}

.about {
  margin-top: 40px;
}

.about .about_title {
  text-align: center;
  text-transform: uppercase;
}

.about .about_title h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about .about_title h5 {
  color: #aeaeae;
  margin-bottom: 30px;
}

.about .about_content p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.about .about_video {
  box-shadow: 5px 13px 22px 8px black;
}

.about .about_video video {
  width: 100%;
  height: auto;
}

.services {
  background-color: black;
  margin-top: 50px;
  padding-bottom: 60px;
}

.services .services_title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.services .services_title h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.services .services_title h5 {
  color: #aeaeae;
}

.services .col-3 {
  padding: 0;
}

.services .services_box {
  margin-top: 40px;
  text-align: center;
  height: 200px;
  border-left: 1px solid #aeaeae;
  padding: 0;
}

.services .services_box > span {
  color: #B88B58;
  font-size: 55px;
  margin-bottom: 30px;
}

.services .services_box > h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.services .services_box > p {
  color: #aeaeae;
  margin-top: 10px;
}

.services .last {
  border-right: 1px solid #aeaeae;
}

.projects {
  padding-bottom: 70px;
}

.projects .projects_content {
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.projects .projects_content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.projects .projects_content h5 {
  color: #aeaeae;
}

.projects .menu_projects {
  margin-top: 50px;
  margin-bottom: 30px;
}

.projects .menu_projects ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.projects .menu_projects ul li {
  list-style: none;
  border: 2px solid #aeaeae;
  padding: 20px 40px;
  background-color: #ededed;
  position: relative;
}

.projects .menu_projects ul li a {
  text-decoration: none;
  display: block;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.projects .menu_projects ul li :before {
  content: "";
  position: absolute;
  width: 57%;
  height: 6px;
  background-color: #B88B58;
  top: 94%;
  left: 23%;
  transform: scale(0);
  transition: .5s;
}

.projects .menu_projects ul li:hover :before {
  transform: scale(1);
}

.projects .menu_projects :nth-child(1) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.projects .menu_projects :nth-last-of-type(1) {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.projects .gallery_project figure img {
  width: 100%;
  height: auto;
}

.projects .gallery_project .box {
  position: relative;
  cursor: pointer;
}

.projects .gallery_project .box .layer {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 0;
  color: white;
  transition: .8s;
}

.projects .gallery_project .box .layer h4 {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 15px;
  font-weight: 500;
  opacity: 0;
  transition: .8s;
}

.projects .gallery_project .box .layer p {
  line-height: 1.5;
  opacity: 0;
  transition: .8s;
}

.projects .gallery_project .box:hover .layer {
  height: 100%;
}

.projects .gallery_project .box:hover h4 {
  opacity: 1;
}

.projects .gallery_project .box:hover p {
  opacity: 1;
}

.projects .btn_box {
  text-align: center;
}

.team {
  background-image: url(../images/members-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 70px;
}

.team .team_title {
  color: white;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.team h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.team h5 {
  color: #aeaeae;
}

.team .team_box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 30px;
  padding-top: 40px;
  background-color: white;
}

.team .team_box figure img {
  max-width: 100%;
  height: auto;
}

.team .team_box h3 {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 35px;
}

.team .team_box P {
  color: #aeaeae;
  font-size: 12px;
  padding-top: 5px;
}

.team .team_box .social_media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  margin-top: 30px;
  padding-bottom: 40px;
}

.team .team_box .social_media li {
  list-style: none;
  width: 32px;
  height: 32px;
  background-color: #aeaeae;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  transition: .5s;
}

.team .team_box .social_media li a {
  color: white;
  display: block;
}

.team .team_box .social_media li:hover {
  background-color: #B88B58;
}

.team .paginator {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 20px;
}

.team .paginator li {
  width: 12px;
  height: 12px;
  border: 1px solid #B88B58;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  transition: .3s;
}

.team .paginator li:hover {
  background-color: #B88B58;
}

.team .paginator :nth-of-type(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.clients {
  height: 80vh;
}

.clients .clients_title {
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.clients .clients_title h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.clients .clients_title h5 {
  color: #aeaeae;
}

.logos {
  border-top: 1px solid #aeaeae;
  border-bottom-width: 5px;
  border-bottom-color: #aeaeae;
  border-bottom-style: double;
  padding-top: 20px;
  padding-bottom: 10px;
}

.logos .logo_box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.logos .logo_box figure img {
  max-width: 100%;
  height: auto;
}

.price {
  background-color: #ededed;
  padding-bottom: 30px;
}

.price .price_title {
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 20px;
}

.price .price_title h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.price .price_title h5 {
  color: #aeaeae;
}

.price .price_box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  background-color: white;
  padding-bottom: 30px;
}

.price .price_box h4 {
  text-transform: uppercase;
  padding-top: 35px;
}

.price .price_box h2 {
  padding-top: 10px;
  font-weight: 800;
  font-size: 30px;
}

.price .price_box h4:nth-child(3) {
  color: #aeaeae;
  margin-top: -35px;
  padding-bottom: 20px;
}

.price .price_box > p {
  font-weight: 500;
  color: #aeaeae;
}

.price .price_box button {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 25px;
  width: 128px;
  height: 45px;
  border-radius: 25px;
  cursor: pointer;
  transition: .5s;
}

.price .price_box button:hover {
  background-color: #B88B58;
}

.premium {
  padding-bottom: 50px;
}

.premium .premium_title {
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}

.premium .premium_title h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.premium .premium_title h5 {
  color: #aeaeae;
}

.premium figure img {
  max-width: 100%;
  height: auto;
}

.premium .premium_list {
  padding-top: 25px;
}

.premium .premium_list li {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.premium .premium_list li .premium_content {
  margin-left: 25px;
  line-height: 1.8;
  color: #aeaeae;
}

.premium .premium_list li .premium_content h3 {
  text-transform: uppercase;
  font-weight: 800;
  padding-bottom: 5px;
  color: black;
}

.premium .line {
  width: 90%;
  height: 1px;
  margin: 20px auto;
  background-color: #aeaeae;
}

.premium .paginator {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 20px;
}

.premium .paginator li {
  width: 12px;
  height: 12px;
  border: 1px solid #B88B58;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  transition: .3s;
}

.premium .paginator li:hover {
  background-color: #B88B58;
}

.premium .paginator :nth-of-type(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.premium .center {
  text-align: center;
}

.premium .center button {
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */