.services {
    background-color: $color-background-black;
    margin-top: 50px;
    padding-bottom: 60px;


    .services_content {
        color: $color-letters-white;
        text-align: center;
        text-transform: uppercase;
        margin-top: 50px;

        h2 {
            font-size: 28px;
            margin-bottom: 10px;

        }

        h5 {
            color: $color-letters-gray;
        }
    }

    .col-3 {
        padding: 0;

    }

    .services_box {
        margin-top: 40px;
        text-align: center;
        height: 200px;
        border-left: 1px solid $color-letters-gray;
        padding: 0;



        >span {
            color: $color-awax-gold;
            font-size: 55px;
            margin-bottom: 30px;
        }

        >h3 {
            color: $color-letters-white;
            text-transform: uppercase;
            font-weight: 500;
        }

        >p {
            color: $color-letters-gray;
            margin-top: 10px;
        }
    }

    .last {
        border-right: 1px solid $color-letters-gray;

    }


}